#OS
.DS_Store
Thumbs.db

#node
node_modules
npm-debug.log
.log

#IDE
.idea
.vscode
!/src/scripts/reducers/create-app/screen.js
!/src/scripts/containers

#project
dist
devdist
dist.zip
screen-dist
.env
